.result-div {
	margin-top: 110px; 
	padding-left: 25px;
}

.result-div .table {
	width: 60%;
}

.result-div .table tbody tr td {
	border-bottom: 1px solid #ddd;
	border-top: none;
	padding: 3px;
}


/**************** File Manager ***************/

/* costum manu*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

#file-browser {
	border: 1px solid #ddd;
}

.folder, .file {
	margin-top: 25px;
    box-sizing: border-box;
    width: 10%;
    height: 20%;
    margin: 20px;
}

.folder .btn-folder {
	height: 50px;
}

.folder label,
.file label {
	overflow:hidden;
	display: -moz-box;
}

.file .btn-file,
.file .btn-file-special {
	height: 50px;
}

/*************** END OF FILE MANAGER ********************/

#time {
	margin-bottom: 20px;
}

#time #current-time{
	margin-left: 20px;
}

#login-container {
	background-image: url("../images/login2.jpg");
	padding-bottom: 40%;
}